.title{
    align-items: center;
}

img{
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 800px){
    .whati{
        width: 470px;
        margin-left: 0;
    }

    h1{
        font-size: 1.5rem;
    }
    
}