.title{
    align-items: center;
}

img{
    align-items: center;
    padding: 20px;
    margin-left: -20px;
}

.whati{
    width: 100%;

}
@media screen and (max-width: 800px){
    .whati{
        display: flex;
        justify-content: center;
        margin-left: -20px;
        max-width: 100%;
  height: auto;
    }

    h1{
        font-size: 1.5rem;
    }
    
}