.title{
    font-size: 1.5rem;
    padding: 10px;
}

.card{
    width: 280px;
    height: 300px;
    border-radius: 10px;
    color: black;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.btns{
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;
}

    @media screen and (max-width: 800px){
        .card{
            width: 200px;
            padding: 5px;
            height:  fit-content;

        }
        .btns{
           flex-direction: column; 
           margin-top: 6px;
        }
        .title{
            font-weight: bold;
            padding: 5px;
            font-size: 1rem;
        }
        .desc{
            font-size: 0.8rem;
            /* height: 30px; */
            /* text-overflow: ellipsis; */
            width: 150px;
            align-items: center;
        }
    }