.card{
    width: 280px;
    height: 300px;
    border-radius: 10px;
    color: black;
    border: 1px solid #000000;
    }
    
.btns{
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;
}

    @media screen and (max-width: 800px){
        .card{
            width: 200px;
            padding: 5px;
            height:  fit-content;

        }
    }