.about{
    display: flex;
}

.me{
    height: 300px;
    margin-top: 0px;
}
.left, .right{
   width: 50vw;
   height: 300px;
   border: 1px solid #000000;
}

.left{
    background: #FF90E8;
    padding: 20px;
    height: fit-content;
    
}

.right{
    background: #FFC900;
}

h2{
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

p{
    text-align: center;
    display: flex;
    font-size: 15px;
    text-overflow: ellipsis;
    justify-content: center;
    
}
.abp{
    margin-bottom: 60px;
}
img{
    margin-left: 20px;
}

@media screen and (max-width: 800px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        /* height: 400px; */
    }
    .left,.right{
        width: 100vw;
        height: 200px;
    }
    .left{
        padding: 10px;
        height: 200px;
        
    }
    .me{
        height: 200px;
        align-content: center;
        margin-left:100px;
    }
    .abp{
        margin-bottom: 20px;
    }
}