h1{
    font-family: 'Jaldi';
font-style: normal;
font-weight: 400;
font-size: 2.5rem;
/* line-height: 108px; */
align-content: center;
color: #000000;

}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.low{
    display: flex;
    border: 1px solid #000000;
    position: sticky;
    height: 56px;
}
nav{
  height: 137px;
}
.right{
    margin-left: auto;
    display: flex;
    gap: 0;
    /* justify-content: flex-end; */
}

button{
    border: none;
    background: none;
    /* padding: 10px; */
    margin: 0;
    border: 1px solid #000000;
    padding: 20px;
    cursor: pointer;
    /* margin-left: 52px; */
}

a:hover ,li:hover{
    color: #FF90E8;
    cursor: pointer;
}
button:hover{
    background:  #FF90E8;
}

.resume{
    color: #fff;
    background: #000000;
}

a{
  text-decoration: none;
  color: #000000;
}
@media screen and (max-width: 800px){
      nav{
        width: 100vw;
      }
      .low{
        width: 100vw;
      }
      .right{
        margin-left: auto;
        
       
      }
      .left{
        display: none;
      }
      button{
        padding: 15px;
        font-size: 0.7rem;
      }

}