footer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-content: center;
}


.title{
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;

}

.footName{
    background-color: #B23386;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.socials{
    background-color: #000000;
    align-items: center;
    display: flex;
    width: 100vw;
    /* height: 80px; */
    /* justify-content: space-between; */
    align-items: center;
}

.in, .git,.link,.tweet{
    width: 20px;
    align-items: center;
    cursor: pointer;
}

.in:hover{
    fill: #FF90E8;
}

.arrow{
    animation: a1 1.5s infinite linear;

}

@media screen and (max-width: 800px){
    h2{
        font-size: 1rem;
        align-items: center;
    }
    .arrow{
        width: 30px;
    }
    .footName{
        height: fit-content;
        align-items: center;
    }
    .in, .git,.link,.tweet{
        width: 15px;
        align-items: center;
        cursor: pointer;
    }
    
}