footer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


.title{
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;

}

.footName{
    background-color: #B23386;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.socials{
    background-color: #000000;
    align-content: center;
}

.in, .git,.link,.tweet{
    width: 20px;
    align-items: center;
}

.in:hover{
    fill: #FF90E8;
}

.arrow{
    animation: a1 1.5s infinite linear;

}

@media screen and (max-width: 800px){
    h2{
        font-size: 1rem;
    }
    .arrow{
        width: 30px;
    }
    .footName{
        height: 150px;
        align-items: center;
    }

}