.blog{
    display: flex;
    margin-top: 40px;
}

.left, .right{
   width: 50vw;
   height: 300px;
   border: 1px solid #000000;
}

.read{
    height: 300px;
    width: 330px;
}
.left{
    
    padding: 10px;
    height: 280px;
}

.right{
    background: #FFC900;
}

h2{
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
}

p{
    text-align: center;
}

.btn{
    align-content: center;
}

@media screen and (max-width: 800px){
    .right{
        display: none;
    }
    .left{
        background-color: #FFC900;
        width: 100vw;
        height: 150px;
    }
}